<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Frank Console Logging" status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- Plain text (non-JSON) console logging -->
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable" />
		</Console>
	</Appenders>

	<Loggers>
		<!-- Your app/framework logs -->
		<Logger name="org.frankframework" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- Reduce typical noise (tweak as you like) -->
		<Logger name="org.springframework" level="warn" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.apache.catalina" level="warn" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.apache.tomcat.dbcp" level="warn" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- Default -->
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>