<?xml version="1.0" encoding="UTF-8"?>
<Context>

		<Resource name="jdbc/viscolink"
			auth="Container"
			type="javax.sql.DataSource"
			driverClassName="org.postgresql.Driver"
			url="jdbc:postgresql://postgres:5432/viscostore"
			username="visco"
			password="visco"
			maxTotal="20" maxIdle="5" maxWaitMillis="10000"/>


</Context>
