<!DOCTYPE html>
<html lang="en">

	<div th:fragment="banner" class="well" >
		<div class="panel-body">
			<div id="replacementWelcome">
				<p>
					This server provides a complete implementation of the FHIR Specification
					using a 100% open source software stack.
				</p>
				<p>
					This server is built
					from a number of modules of the
					<a href="https://github.com/hapifhir/hapi-fhir/">HAPI FHIR</a>
					project, which is a 100% open-source (Apache 2.0 Licensed) Java based
					implementation of the FHIR specification.
				</p>
			</div>
		</div>
	</div>

</html>